---
name: Go Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: 1.25.4

    - name: Test
      run:  go test -v ./... -cover